<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_2020_HQTCSDL.Properties.Settings.tempConnectionString"
            connectionString="Data Source=ICEBEAR-PC\YENNGOCC;Initial Catalog=temp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="_2020_HQTCSDL.Properties.Settings.tempConnectionStringCEO"
            connectionString="Data Source=ICEBEAR-PC\YENNGOCC;Initial Catalog=temp;Persist Security Info=True;User ID=CEO_log;Password=1234567"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
